    
<div class="general-box"  >
    <div class="cards"  >
        <img src="https://qph.cf2.quoracdn.net/main-qimg-b49869393201bfecdb67f1dc030ede55-lq" alt="">
        <div class="card-details">
               <span class="tag">{{selectedDetails?.firstName}}</span> 
               <span class="tag">{{selectedDetails?.lastName}}</span> 
             
               <div class="title">{{selectedDetails?.title}}</div>
           <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis at totam quas nemo, est officia. Odio et sunt illo iste? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, a maxime? Vero, ea. Quasi debitis sunt voluptas. Inventore, repudiandae veniam.</p>
           <button class="d-button"  (click)="closeDetails()" >close</button>
        </div>
    </div>
    </div>